# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore runtime and build files
dist/
pyrarmor_runtime_*/

# Ignore audio downloads
downloaded_audio/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore virtual environments
.venv/
env/
venv/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore other temporary files
*.log
*.tmp

# Ignore system-wide Python installations
site-packages/
